* {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.wrapper > header {
    color: aqua;
    background-color: purple;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.wrapper > section {
    margin: 0.5em;
}

.inputext-container > * {
    height: 2em;
    border: 0.05em solid gainsboro;
    border-radius: 0.5em;
    padding: 0.3em;
    font-size: 1.5em;
}

.inputext-container > input {
    width: 70%;
    background-color: white;
    color: black;
}

.inputext-container > button {
    width: 20%;
    background-color: cadetblue;
    color: black;
}

.inputext-container > button:hover{
    cursor: pointer;
    background-color: purple;
    color: white;
}

#items li {
    display: flex;
    border: 0.05em solid gainsboro;
    border-radius: 0.5em;
    font-size: 1.5em;
    background-color: white;
    color: black;
    align-items: center;

    margin: 0.1em 0;
    display: flex;
    justify-content: space-between;
}

.item span {
    margin: 0.025em;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v134/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.like i {
    color: goldenrod;
}

.delete i {
    color: red;
}

.manage > span {
    cursor: pointer;
}